.container {
	width: 960px;
	margin: 0 auto;
}

@font-face {
	font-family: LiberationSansBold; /* Гарнитура шрифта */
	src: url(../fonts/LiberationSans-Bold.ttf); /* Путь к файлу со шрифтом */
}

html, body {
	height: 100%;
	margin: 0;
	font-family: LiberationSansBold, "Helvetica", sans-serif;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 80px;
}

/*================ Header ===================*/
.header {
	background: #404040;
	color: #fff;
}

.header-menu-item-link {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

.header-menu-item-link:hover,
.header-menu-item-link:active {
	color: #f26c4f;
}

.header-menu {
	padding: 32px 0 0 424px;
}

.header-menu-item {
	list-style-type: none;
	display: inline;
	padding-right: 32px;
}

.container div {
	display: inline-block;
}

.header-logo {
	position: absolute;
	padding-top: 25px;
}

.container--header {
	height: 82px;
	padding-left: 15px;
}

/*================ Footer ===================*/
.footer {
	background: #242424;
	color: #fff;
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
	margin: 0 auto;
}

.footer-menu-item-link {
	color: #f26c4f;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
}

.footer-menu {
	padding: 20px 0 0 20px;
}

.footer-menu-item {
	list-style-type: none;
	display: inline-block;
	padding-right: 23px;
}

.copyright {
	color: #858585;
	font-size: 13px;
	padding: 20px 0 0 20px;
}

/*================ Slider ===================*/
.slider {
	background-color: #333333;
}

.slider-background {
	width: 1400px;
	margin: 0 auto;
	background: url("../images/roundabout-bg.png") #333333 no-repeat;
}

.container--slider {
	height: 432px;
}

.divider {
	height: 1px;
	width: 100%;
	background: #333333;
	border-top: 1px solid #2f2f2f;
	border-bottom: 1px solid #696969;
}

.sli-1{
	background:url("../images/sli-1.png") no-repeat 50% 50%;
}

.sli-2{
	background:url("../images/sli-2.png") no-repeat 50% 50%;
}
.sli-3{
	background:url("../images/sli-3.png") no-repeat 50% 50%;
}
.sli-4{
	background:url("../images/sli-4.png") no-repeat 50% 50%;
}

.list-item {
	width: 236px !important;
	height: 236px !important;
	border-radius: 50%;
	border: 5px solid white;
}
.roundabout-holder {
	list-style: none;
	padding: 0;
	height: 350px;
	width: 530px;
	margin: 0 auto;
}
.roundabout-in-focus {
	cursor: auto;
}